$xlarge: 1440px;
$large: 1200px;
$medium: 1024px; 
$small: 768px;
$tiny: 480px;

@mixin breakpoint($point) {
  @if $point == xlarge {
    @media (max-width: $xlarge - 1px) { @content ; }
 }
  @else if $point == large {
    @media (max-width: $large - 1px) { @content ; }
 }
   @else if $point == medium {
    @media (max-width: $medium - 1px) { @content ; }
 }
  @else if $point == mediumup {
    @media (min-width: $medium - 1px) { @content ; }
  } 
  @else if $point == small {
    @media (max-width: $small - 1px)  { @content ; }
 }
  @else if $point == tiny {
    @media (max-width: $tiny - 1px)  { @content ; }
  }
}

@mixin halves {
  width: 48.5%;
  @include breakpoint(small) {
    width: 100%;
  }
}

@mixin thirds {
  width: 30%;
  @include breakpoint(small) {
    width: 100%;
  }
}

@mixin fourths {
  width: 22%;
  @include breakpoint(small) {
    width: 100%;
  }
}


@mixin serif {}

@mixin sans {
  // font-family:  "Knockout 27 A","Knockout 27 B";
  font-family: "din-2014", sans-serif;
  // text-transform: uppercase;
  // letter-spacing: 0.025em;
}

@mixin type-big {
  font-size: 43pt;
}

@mixin type-big-sub {
  font-size: 33pt;
}

@mixin type-regs-plus {
  font-size: 23pt;
}

@mixin type-regs {
  font-size: 16pt;
}

@mixin type-tiny {
  font-size: 10pt;
}